@charset "utf-8";
/* CSS Document */

.negritas{
	
	
	foot-veight:bold;
	
.lineas{
height-left:4px;
background-color:#000;


.divresultado{
	margin-left:75%;
	margin-right:25%;
	text-aling:center;
    }/* CSS Document */


